@model IEnumerable<Domain.Request>

@{
    ViewData["Title"] = "Index";
}

<h1>Requests</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimePosted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deadline)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    @if (item.TextColor == "red") 
    {
    <tr class="p-3 mb-2 bg-danger text-white">
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimePosted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deadline)
                </td>
                <td>
                <form asp-action="Solve" asp-route-id="@item.Id">
                    <input type="submit" value="Solve" class="btn btn-primary"/> 
                </form>
                </td>
            </tr>
    }
    else
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.TimePosted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deadline)
            </td>
            <td>
            <form asp-action="Solve" asp-route-id="@item.Id">
                <input type="submit" value="Solve" class="btn btn-primary" /> 
            </form>
            </td>
        </tr> 
    }
        
       
    

}
    </tbody>
</table>
